#vizu {
    background: linear-gradient(180deg, #FFDD7D 0%, rgba(255, 224, 125, 0.68) 100%);
    width: 100vw;
    height: 140vh;
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}


#topSlider {
    padding-top: 50px;
    display: flex;
    justify-content: center;
    
  } 

.parameter-value path{
    fill:#7D54F0;
    stroke:white;
    stroke-width:1.5px;
  }

  #vizu p {
      padding-top: 10px;
      font-size: 30px;
  }


#maps {
    position: relative;
    background-color: #FFF7E1;
    width: 80%;
    height: 500px;
    margin: 20px;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

}
#labeldiv {
    overflow: hidden;

}

#labeldiv p {
    text-align: center;
    font-size: 18px;
    color: white;
    
}

#graph {
    background-color: #FFF7E1;
    width: 80%;
    height: 250px;
    margin: 20px;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;

}

.points {
    opacity: 0.4;
    }

.points:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #1F88F880;


}

#mapRightContainer {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.kineretMapRight {
    margin: 70px;
    height: 400px;
    z-index: 3;
    position: absolute;
 
    
}

#kineretColorRight {
    z-index: 1;
    position: absolute;
    
}

#boxMapRight {
    width: 50%;
    height: 150px;
    background-color:#FFF7E1;
    z-index: 2;
    position: absolute;
    top: 60px;
}

#mapLeftContainer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    z-index: 4;
}

.kineretMapLeft {
    position: absolute;
    margin: 70px;
    height: 400px;

    transform: scaleX(-1);
    z-index: 3;
    
}

#kineretColorLeft {
    z-index: 1;
    position: absolute;
    transform: scaleX(-1);
    
}

#boxMapLeft {
    width: 50%;
    height: 100px;
    background-color:#FFF7E1;
    z-index: 2;
    position: absolute;
    top: 60px;
}


#leftMapLabel {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
 
}


#rightMapLabel {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;

}