#vizu {
    background: linear-gradient(180deg, #FFDD7D 0%, rgba(255, 224, 125, 0.68) 100%);
    width: 100vw;
    height: 1900px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.axis { 
    font-size: 14px; 
}

#topSlider {


    display: flex;
    flex-direction: column;
    
  } 

.parameter-value path{
    fill:#7D54F0;
    stroke:white;
    stroke-width:1.5px;
  }

  #vizu p {
      padding-top: 10px;
      font-size: 30px;
  }


#maps {
    position: relative;
    background-color: #FFF7E1;
    width: 70%;
    height: 500px;
    margin: 20px;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
    display: flex;
    justify-content: space-evenly;

}
#labeldiv {
    overflow: hidden;

}

#labeldiv p {
    text-align: center;
    font-size: 18px;
    color: white;
    
}

#graph {
    position: relative;
    background-color: #FFF7E1;
    width: 70%;
    height: 300px;
    margin: 20px;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;


}

#graph p {
    font-size: 18px;
}


#leftAxisLabel {
    position: absolute;
    /* left: -15%; */
    left: -170px;
    top: 1%;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
    
}

#rightAxisLabel {
    position: absolute;
    right: -170px;
    /* right: -15%; */
    top: 1%;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
    text-align: center;
    font-size: 18px;
    color: white;
}

.points {
    opacity: 0.4;
}

.points:hover {
    opacity: 1;
    box-shadow: 0px 0px 10px 2px #1F88F880;


}

.rectSelect {
    opacity: 0;
}

.rectSelect:hover {
    opacity: 0.5;
}

#mapRightContainer {
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: center;
    z-index: 4;
}

.kinneretMapRight {
    margin: 70px;
    height: 400px;
    z-index: 3;
    position: absolute;
  
}

#kinneretColorRight {
    z-index: 1;
    position: absolute;
    
}

#boxMapRight {
    width: 50%;
    height: 150px;
    background-color:#FFF7E1;
    z-index: 2;
    position: absolute;
    top: 60px;
}

#mapLeftContainer {
    position: relative;
    display: flex;
    justify-content: center;
    height: 100%;
    width: 50%;
    z-index: 4;
}

.kinneretMapLeft {
    position: absolute;
    margin: 70px;
    height: 400px;

    transform: scaleX(-1);
    z-index: 3;
    
}

#kinneretColorLeft {
    z-index: 1;
    position: absolute;
    transform: scaleX(-1);
    
}

#boxMapLeft {
    width: 50%; 
    height: 100px;
    background-color:#FFF7E1;
    z-index: 2;
    position: absolute;
    top: 60px;
}


#leftMapLabel {
    position: absolute;
    left: -20px;
    top: -20px;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
 
}


#rightMapLabel {
    position: absolute;
    right: -20px;
    top: -20px;
    width: 144px;
    height: 72px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;

}

#centerMapLabel {
    position: absolute;
    width: 248px;
    height: 124px;
    background-color: #8381F5;
    box-shadow: -8px 8px 4px 0px #DDD4B6CC;
    border-radius: 10px;
    margin-left: auto;
    margin-right: auto;
    left: 0;
    right: 0;
    bottom: -36px;
    text-align: center;
    display: flex;
    justify-content: center;
    flex-direction: column;

}

#centerMapLabel p {
    margin: 0px;
    padding: 4px;
    text-align: center;
}

#kinneretRedTopLine {
    position: absolute;
    width: 144px;
    height: 72px;

}

#kinneretRedTopLine {
    position: absolute;
    width: 200px;
    height: 72px;
    right:0;
    top: 88.857px;
    z-index: 4;
    overflow: visible;


}

#kinneretRedTopLine p {
    color: green;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding: 2px;

}

#boxRedTopLine {
    position: absolute;
    background-color: green;
    height: 3px;
    width: 20%;
    z-index: 0;
    right:0;
    top: 108.857px;

}

#boxRedBottomLine {
    position: absolute;
    background-color: red;
    height: 3px;
    width: 20%;
    z-index: 0;
    right:0;
    top: 325.428px;

}

#KinneretRedBottomLine {
    position: absolute;
    width: 200px;
    height: 72px;
    right:0;
    top: 305.428px;
    z-index: 4;
    overflow: visible;
}

#KinneretRedBottomLine p {
    color: red;
    font-size: 16px;
    padding: 0px;
    margin: 0px;
    text-align: right;
    padding: 2px;
}

#value-time {
    position: absolute;

}

input[type=checkbox]{
    height: 0;
    width: 0;
    visibility: hidden;
  }
  
  label {
    cursor: pointer;
    text-indent: -9999px;
    width: 100px;
    height: 48px;
    background: #8381F5;
    display: block;
    border-radius: 100px;
    position: relative;
  }
  
  label:after {
    content: '';
    position: absolute;
    top: 5px;
    left: 5px;
    width: 36px;
    height: 36px;
    background: #fff;
    border-radius: 36px;
    transition: 0.3s;
  }
  
  input:checked + label {
    background: #27BFB6;
  }
  
  input:checked + label:after {
    left: calc(100% - 5px);
    transform: translateX(-100%);
  }
  
  label:active:after {
    width: 130px;
  }
  
  

  #choose {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
  }

  #choose p {
      margin: 16px;
  }


  #legend {
      position: absolute;
      top: 50%;
      right: -196px;
      width: 172px;
      height: 144px;
      display: flex;
      flex-direction: column;
      justify-content: space-evenly;
      background-color: #FFF7E1;
      box-shadow: -8px 8px 4px 0px #DDD4B6CC;
      border-radius: 10px;
  }

  #legend div {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      margin: 8px;
  }


#introText {
    width: 70%;
    
}
#introText p {
    font-size: 24px;
}